<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>
</div>

<style>
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#clearance {
   margin: 20px;
}
</style>