 <div class="form-group">
    <label for="email">Email address:</label>
    <%= form.text_field :email, class: "form-control", id: "email" %>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <%= form.password_field :password, class: "form-control", id: "pwd" %>
  </div>

<div class="avatar-field">
  <%= form.label "Profile picture:" %>
  <%= form.file_field :avatar %>
</div>
