<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user, :html => {class:'form-group'} do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<style>
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#clearance {
   margin: 20px;
}
</style>