<link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet'><body>
    <div id="mobile">
      <div class="container">    
        <h1>eXpr</h1>
      </div>
    <h4> Lorem aodkz qoen odkf aldof zncvqiw zlco qowen lz sdf</h4>
        <div class="user">
        <p><strong>Don't have an account?</strong>  <a href="/sign_up" class="btn btn-primary">Sign Up</a></p>
        <p><strong>Already an user?</strong>  <a href="/sign_in" class="btn btn-primary">Login</a></p>
        </div>
    </div>
</body>
<style>
body, html {
    height: 100%;

}
p {
    font-size: 20px;
}
#mobile {
        /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(<%= asset_path("mobilebackground.jpg")%>);
    position:relative;
}
.container {
    position:relative;
    text-align: center;
    top:15%;
}
#mobile h1 {
    height: 50px;
    position: absolute;
    right: 30%;

    font-family: 'Rye';font-size: 70px;}
#mobile h4 {   
    height: 200px;
    width: 360px;
    text-align: center;
    position: absolute;
    bottom: 200px;
    left: 3vh;
}
#mobile .user {
    position: absolute;
    text-align: center;
    bottom: 120px;
    margin: 0 auto;

    width: 400px;
}
</style>