<h1 style="font-size:8vw">Welcome to Grocery!</h1>
<% if signed_in? %>
  <%= current_user.email %>
<% end %>

<p> What are you waiting for?! Create listings for grocery now! <p>
<% if signed_in? %>
<%= button_to "Add Grocery!", new_user_grocery_path(current_user), method: :get %>
<%=  link_to "Profile", user_path(@user) %>
<% end %>

