<link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet'>
    <div id="mobile">
        <div id="logo">
        <%= image_tag( asset_path ('expr-logo-1309x1309.png'))%>
        </div>
        <h3> Food wasting made hard!</h3>
        <div class="user">
        <p><strong>Don't have an account?</strong>  <a href="/sign_up" class="btn btn-primary">Sign Up</a></p>
        <p><strong>Already an user?</strong>  <a href="/sign_in" class="btn btn-primary">Login</a></p>
        </div>
    </div>
</body>
<style>
body, html {
    height: 100%;

}
p {
    font-size: 20px;
}
#mobile {
        /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(<%= asset_path("mobilebackground.jpg")%>);
    position:relative;
}
.container {
    position:relative;
    text-align: center;
    top:15%;
}
img {
    position: absolute;
    width:140px;
    height:140px;
    top: 12vh;
    right: 33%;
}
#mobile h3 {   
    height: 200px;
    width: 360px;
    text-align: center;
    position: absolute;
    bottom: 220px;
    left: 3vh;
    font-family: 'Rye';font-size: 43px;
}
#mobile .user {
    position: absolute;
    text-align: center;
    bottom: 120px;
    margin: 0 auto;

    width: 400px;
}
</style>