<body>
<div class="mobile" >
    <h1>E-Fridge</h1>
    <p> Lorem aodkz qoen odkf aldof zncvqiw zlco qowen lz sdf</p>
    <hr class="style13">
    <a href="/sign_in" class="btn btn-primary">Login</a>
    <a href="/sign_up" class="btn btn-primary">Sign Up</a>
</div>
</body>
<style>
body, html {
    height: 100%
}
hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
h1 {
    text-align: center; 
}
#mobile {
        /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(asset_path("mobilebackground.jpg"));
}

</style>