<link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet'>
    <div id="mobile" class='d-flex justify-content-center align-items-center'>
        <div id="logo">
        <%= image_tag( asset_path ('expr-logo-1309x1309.png'))%>
        </div>
        <div class='header-txt'>
        <h3> Food wasting made hard!</h3>
        </div>
        <div class="user">
        <p><strong>Don't have an account?</strong>  <a href="/sign_up" class="btn btn-primary">Sign Up</a></p>
        <p><strong>Already an user?</strong>  <a href="/sign_in" class="btn btn-primary">Login</a></p>
        </div>
    </div>
</body>
<style>
body, html {
    height: 100%;

}
p {
    font-size: 20px;
}
#mobile {
    /* Full height */
    height: 100vh; 
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(<%= asset_path("mobilebackground.jpg")%>);
    position:absolute;
}

img {
    width:10em;
    height:10em;
}
#mobile #header-txt {   
    height: 200px;
    width: 360px;
    font-family: 'Rye';font-size: 43px;
    position: absolute;
    text-align: center;
    bottom: 120px;
    margin: 0 auto;
}
#mobile .user {
    position: absolute;
    text-align: center;
    bottom: 120px;
    margin: 0 auto;

    width: 400px;
}
</style>