<div class="card">
  <div class="box">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Item</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <% @expired.each do |exprd,i| %>
          <tr data-toggle="collapse" data-target="#entry-<%=i%>" aria-expanded="false" aria-controls="collapseExample">
            <div>
              <td><%= exprd.ingredient %></td> 
              <td><%= exprd.expired_date %></td>
              <td><%= link_to "Remove", user_grocery_path(exprd.user, exprd), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>