<div class="card">
  <div class="box">
    <h3>Item expiring</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Item</th>
          <th>Days Left</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @exps.each do |exp,i| %>
          <tr>
            <div>
              <td><%= exp.ingredient %></td> 
              <td><%= exp.expiry_countdown %></td>
              <td><%= link_to '<i class="icon-ok icon-white"></i>	&#10008;'.html_safe, user_grocery_path(exp.user, exp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
.card {   
    top: 3vh;
    margin: 0 auto;
    width:350px;
    min-height:5px;
    background:#fff;
    box-shadow: 0.2em 0.2em 0.8em 0.1em rgba(83, 83, 83, 0.3);
    border-radius:0.5em;
    transition:0.5s;
}
.box {
    margin: 20px;
}
h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;

}
</style>
