<div class="card">
  <div class="box">
    <div id="clearance" class="password-reset">
      <p><%= t(".description") %></p>
    </div>
  </div>
</div>


<style>
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.card {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}

.box {
    margin: 20px;
}
</style>